html,body{
    margin:0px;
    padding:0px;
    overflow-x: hidden;
}
.row{
    margin:0px;
}
.splash{
    padding:50px;
    /*text-align:center;*/
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
.orbit{
    position: absolute;
    font-family:Verdana;
    display:inline-block;
    top:330px;
    background: -webkit-linear-gradient(#ff0080, #cc0066,#800040);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:16px;
    font-weight: 200;
    letter-spacing: 2px;
    z-index: 3;
}
#planet{
    z-index:2;
    position: relative;
}
.navbar{
    z-index:3;
    opacity: 0.8;
}
.navrow{
    background:black;
}
.title{
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -20px;
    padding-left: 10px;
    margin-bottom:20px;
    animation:opac 0.8s;
}
@keyframes opac{from{opacity:0} to{opacity:1}}
.blank{
    height:40px;
    display: block;
    background:black;
    padding:10px;
    color:white;
    font-family: courier;
    letter-spacing: .08px;
}
.blank:before{
    content:"Developed By Calder White © 2017";
}
#logo{
    margin-top:-35px;
    transform:scaleX(0.5) scaleY(0.5);
    transition:all .5s ease-out;
}
#logo > a:hover{
    text-decoration: none;
}
#logo:hover{
    background: rgba(255, 255, 255, 0.2);
}
.c1{
    animation:opac 1s;
    min-height: 422px;
    overflow:hidden;
}
.c1 > div{
    text-align:center;
    padding:25px;
    display:inline;
    opacity: 0;
    transition: all 1s ease-out;
    transform:scaleX(1.2) scaleY(1.2);
}
.c1 > div > img{
    width:360px;
    height:252px;
    margin:5px;
    border-radius: 10px;
    margin:auto;
    display:block;
}
.c1 > div > p{
    margin:5px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    font-size:16px;
    font-weight: 300;
    
}
#c2 > div > p{
    margin-top:30%;
    font-size:16px;
    font-family: 'lato', sans-serif;
}